<a href="https://colab.research.google.com/github/ToArq/DataScience/blob/main/API_TWITTER_DEVFLA_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ¬øQu√© Recuerdas de la API de Twitter? üòè

¬°Pongamos a prueba nuestras habilidades para consumir esta API en 4 de sus Endpoints!

In [ ]:
!pip install tweepy

Requirement already satisfied: tweepy in /usr/local/lib/python3.7/dist-packages (3.10.0)
Requirement already satisfied: requests[socks]>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from tweepy) (2.23.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (1.3.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (1.15.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->tweepy) (3.1.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import itertools
import collections

import tweepy as tw
import nltk
from nltk.corpus import stopwords
import re

In [ ]:
# Si quieres obtener tus propios accesos, puedes hacerlo aqu√≠: https://developer.twitter.com/
"""
ACCESS_TOKEN = '1176539786728869889-1sG3OnUUqHC4eMiPoDqsfSaLtzbJvc'
%store ACCESS_TOKEN
ACCESS_TOKEN_SECRET = 'S3NVuiG4GNwsz1mepNNCyQKl6zp6HGTCqoNDmUNDeS7O7'
%store ACCESS_TOKEN_SECRET
API_KEY = 'JPk4hxnovLIbDcLotgSsrDkqo'
%store API_KEY
API_SECRET = 'MC6pC9xO4xyXZb7ThZALYBDH9oXykMYFpsraCUa5g4Jsa9LBVK'
%store API_SECRET

#dav_and_to-test
#API_KEY = 'SGFZTl0JXlTcHZBSMQvCuk3ud'
#API_SECRET = 'IlRjxECBiahfXHMqF8hIl3dQpZC0gfGz7qobWyUi8QuustDrr2'
BEARER_TOKEN = 'AAAAAAAAAAAAAAAAAAAAALemWwEAAAAAXdna47azebQ3%2BEC0goaqtH1q4yA%3D7gWR06DdwBpLlM58JzbnW2kg4TPSqFNUOlaLe69UjpSbD6cwWS'
"""

Stored 'ACCESS_TOKEN' (str)
Stored 'ACCESS_TOKEN_SECRET' (str)
Stored 'API_KEY' (str)
Stored 'API_SECRET' (str)

In [ ]:
ACCESS_TOKEN = '168255741-3Djz0KcUiv61bazL1oWukLlWfoZLxi8MvBgGz2iC'
%store ACCESS_TOKEN
ACCESS_TOKEN_SECRET = 'xLGldW9k8i8iJpjSKqIpp4wNpqFDeGLGnOEPDnwGjtIAo'
%store ACCESS_TOKEN_SECRET
API_KEY = 'SGFZTl0JXlTcHZBSMQvCuk3ud'
%store API_KEY
API_SECRET = 'IlRjxECBiahfXHMqF8hIl3dQpZC0gfGz7qobWyUi8QuustDrr2'
%store API_SECRET

Stored 'ACCESS_TOKEN' (str)
Stored 'ACCESS_TOKEN_SECRET' (str)
Stored 'API_KEY' (str)
Stored 'API_SECRET' (str)

In [ ]:
#C√≥mo leer la documentaci√≥n de autorizaci√≥n twitter

auth = tw.OAuthHandler(API_KEY, API_SECRET)
auth.set_access_token(ACCESS_TOKEN, ACCESS_TOKEN_SECRET)
api = tw.API(auth)
api

In [ ]:
%store -r ACCESS_TOKEN
%store -r ACCESS_TOKEN_SECRET
%store -r API_KEY
%store -r API_SECRET

## Tweets de un timeline

- Obt√©n la timeline de un usuario especifico de Twitter, mostrando solo los primeros 10 tweets
- A√±ade los tweets a una lista y convi√©rtelos en un DataFrame

In [ ]:
mit_mentions = api.user_timeline(screen_name="@MIT", count=20)
mit_on_twitter = []

for t in mit_mentions:
  mit_on_twitter.append(t._json)
df_mit_mentions = pd.DataFrame(mit_on_twitter)

df_mit_mentions.head(1)

                       created_at  ...  extended_entities
0  Sun Dec 12 16:05:00 +0000 2021  ...                NaN

[1 rows x 29 columns]

In [ ]:
df_mit_mentions = pd.DataFrame(df_mit_mentions,columns=['quoted_status','text', 'lang'])
df_mit_mentions.head(20)

                                        quoted_status  ... lang
0   {'created_at': 'Mon Oct 11 10:21:21 +0000 2021...  ...   en
1   {'created_at': 'Sun Aug 08 14:05:00 +0000 2021...  ...   en
2                                                 NaN  ...   en
3                                                 NaN  ...   en
4                                                 NaN  ...   en
5                                                 NaN  ...   en
6                                                 NaN  ...   en
7                                                 NaN  ...   en
8                                                 NaN  ...   en
9                                                 NaN  ...   en
10                                                NaN  ...   en
11                                                NaN  ...   en
12                                                NaN  ...   en
13                                                NaN  ...   en
14                                                NaN  ...   en
15                                                NaN  ...   en
16                                                NaN  ...   en
17                                                NaN  ...   en
18                                                NaN  ...   en
19                                                NaN  ...   en

[20 rows x 3 columns]

## Tweets del home 

- Obt√©n de la timeline del home de Twitter, solo los primeros 10 tweets
- A√±ade los tweets a una lista y convi√©rtelos en un DataFrame

In [ ]:
#documentacion del endpoint https://developer.twitter.com/en/docs/twitter-api/v1/tweets/timelines/api-reference/get-statuses-home_timeline
#home_timeline

In [ ]:
home_tweets = api.home_timeline()
home = []

for tweet in home_tweets:

  jtewwt = tweet._json
  home.append(jtewwt)

df_tweet_home = pd.DataFrame(home)

df_tweet_home = pd.DataFrame(df_tweet_home, columns=['created_at','text']).head(10)

df_tweet_home

                       created_at                                               text
0  Mon Dec 13 03:46:23 +0000 2021                            https://t.co/0bzygOpbRP
1  Mon Dec 13 03:46:13 +0000 2021  RT @iamdoomling: Non fungible toddler ü§∑‚Äç‚ôÄÔ∏è htt...
2  Mon Dec 13 03:46:07 +0000 2021  ¬°Gol de @AtlasFC! Ya lo ganan 1 a 0 en el Esta...
3  Mon Dec 13 03:45:54 +0000 2021  RT @SeGobCDMX: La @SSC_CDMX despleg√≥ alrededor...
4  Mon Dec 13 03:45:53 +0000 2021  RT @SeGobCDMX: Se trat√≥ de acordar la entrada ...
5  Mon Dec 13 03:45:46 +0000 2021                      Venga, ya... Qu√© ganen... ‚ö´üî¥ü¶ä
6  Mon Dec 13 03:45:32 +0000 2021  RT @SeGobCDMX: El @GobCDMX informa que, luego ...
7  Mon Dec 13 03:45:08 +0000 2021  Yo le voy al Atlas desde que compr√© su libro d...
8  Mon Dec 13 03:45:00 +0000 2021  #Video En la Amazon√≠a colombiana se talan y qu...
9  Mon Dec 13 03:44:54 +0000 2021  El VAR est√° revisando la jugada por posible fu...

## Mentions del timeline 

- Obt√©n las 20 menciones mas recientes.
- A√±ade los tweets a una lista y convi√©rtelos en un DataFrame

In [ ]:
#documentacion del endpoint https://developer.twitter.com/en/docs/twitter-api/v1/tweets/timelines/api-reference/get-statuses-mentions_timeline
#mentions_timeline

In [ ]:
search_term = "#MIT -filter:retweets"

tweets = tw.Cursor(api.search,
                   q=search_term,
                   lang="en",
                   since='2021-01-01').items()

all_MIT_tweets_2021 = [tweet.text for tweet in tweets]

len(all_MIT_tweets_2021)
all_MIT_tweets_2021[:20]

TweepError: ignored

## Count recent üëÄ

- Obt√©n el numero de tweets recientes de los ultimos 7 dias

In [ ]:
#documentacion del endpoint https://developer.twitter.com/en/docs/twitter-api/tweets/counts/api-reference/get-tweets-counts-recent
#recent

In [ ]:
home_tweets = api.home_timeline()

home_tweets

In [ ]:
!curl "https://api.twitter.com/2/tweets/counts/recent?query=lakers&granularity=day&start_time=2020-05-28T00%3A00%3A00Z&end_time=2020-06-01T00%3A00%3A00Z" -H "Authorization: AAAAAAAAAAAAAAAAAAAAALemWwEAAAAAXdna47azebQ3%2BEC0goaqtH1q4yA%3D7gWR06DdwBpLlM58JzbnW2kg4TPSqFNUOlaLe69UjpSbD6cwWS

/bin/bash: -c: line 0: unexpected EOF while looking for matching `"'
/bin/bash: -c: line 1: syntax error: unexpected end of file

In [ ]:
Client.get_all_tweets_count